.splash-wrapper {
  height: calc(100vh - (var(--header-height)));
}

.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BADDDA;
}

.svg--reduce-size {
  height: 82vh;
  width: 80vw;
}
